@font-face {
  font-family: RedHat;
  src: url('../fonts/RedHatText-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: RedHat, Arial, Helvetica, sans-serif;
}
