$main-background-color: hsl(235, 16%, 14%);
$main-font-color: hsl(0, 0%, 100%);
$top-letter-background-color: hsl(236, 21%, 26%);
$bottom-letter-background-color: hsl(235, 19%, 40%);
$circle-background-color: black;
$letter-font-color: hsl(345, 95%, 68%);
$letter-box-shadow-color: hsl(234, 17%, 12%);
$description-font-color: hsl(237, 18%, 59%);
$output-font-color: aquamarine;
$attribution-background-color: rgb(170, 156, 156);
$attribution-link-color: hsl(228, 45%, 44%);
