@import './base';
@import './variables';
@import './mixins';
@import './extends';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: $main-font-color;
  position: relative;
  height: 100vh;
  background: url('../../images/bg-stars.svg') $main-background-color;

  h1 {
    font-size: 3rem;
    letter-spacing: 10px;
  }

  .countdown {
    display: flex;
    gap: 40px;
    font-size: 8rem;
    .letter {
      width: 150px;
      border-radius: 7%;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-weight: 700;

      .top-letter {
        @include letter-build(relative, $top-letter-background-color, 79px, hidden);

        margin-bottom: 2px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;

        .bottom-left-circle {
          @extend .circle-styles;
          bottom: -15px;
          left: -15px;
        }

        .bottom-right-circle {
          @extend .circle-styles;
          bottom: -15px;
          right: -15px;
        }

        p {
          margin-top: 26px;
          color: $letter-font-color;
        }
      }
      .bottom-letter {
        @include letter-build(relative, $bottom-letter-background-color, 79px, hidden);

        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 0 12px $letter-box-shadow-color;

        .top-left-circle {
          @extend .circle-styles;
          top: -15px;
          left: -15px;
        }

        .top-right-circle {
          @extend .circle-styles;
          top: -15px;
          right: -15px;
        }

        p {
          margin-top: -53px;
          color: $letter-font-color;
        }
      }

      .description {
        color: $description-font-color;
        font-size: 2rem;
        text-align: center;
        margin-top: 25px;
      }
    }
  }

  .output {
    font-size: 5rem;
    font-weight: 800;
    color: $output-font-color;
  }

  .social-media {
    z-index: 1;
    display: flex;
    gap: 30px;
    img {
      cursor: pointer;
      width: 30px;
      height: 30px;

      &:hover {
        color: $letter-font-color;
        filter: invert(56%) sepia(37%) saturate(3649%) hue-rotate(310deg) brightness(100%)
          contrast(98%);
      }
    }
  }

  > img {
    position: fixed;
    width: 100%;
    bottom: 1%;
  }

  .attribution {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $attribution-background-color;
    font-size: 1.2rem;
    text-align: center;

    a {
      color: $attribution-link-color;
    }
  }
}
