@import './base';
@import './variables';
@import './mixins';
@import './extends';
@import './main';

@media (max-width: 768px) {
  main {
    h1 {
      font-size: 2rem;
    }

    .countdown {
      font-size: 5rem;

      .letter {
        width: 100px;

        .top-letter {
          height: 59.25px;

          p {
            margin-top: 26px;
          }
        }

        .bottom-letter {
          height: 59.25px;

          p {
            margin-top: -34px;
          }
        }

        .description {
          font-size: 1.5rem;
          z-index: 1;
        }
      }
    }
  }
}

@media (max-width: 565px) {
  main {
    h1 {
      font-size: 1.6rem;
    }

    .countdown {
      font-size: 3.5rem;
      margin: 0 auto;
      width: 95%;

      .letter {
        height: 130px;

        .top-letter {
          p {
            margin-top: 16px;
          }
        }

        .bottom-letter {
          p {
            margin-top: -26px;
          }
        }

        .description {
          font-size: 1.25rem;
        }
      }
    }
  }
}
